body{
    background: url(/img/liehe1..jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px; 
    height: 600px;  
 } 
 .REGISTER{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    width: 350px;
    height: 550px; 
    text-align: center;
    border:1px solid rgb(241, 241, 241); 
    border-radius: 12px;
    padding: 10px 20px; 
    background: transparent;
    backdrop-filter: blur(6px);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
 }
 .wrapper h2{
    font-size: 30px;
    color: #0d0a02;
}

.input-field{
 position: relative;
}
.input-field input[type="email"], 
.input-field input[type="password"],
.input-field input[type="text"]
 {
        border-radius: 10px;
        background: transparent;
        margin: 15px;
        border: 2px solid rgb(255, 255, 255);
        width: 280px;
        height: 2px; 
        padding: 20px 40px 20px 20px;
        backdrop-filter: blur(15px);
}
input::placeholder {
    color: rgb(255, 255, 255);
    }
a.forgot:hover {
    text-decoration: underline; 
    color: #fffffffd;
    }
a.sign-up {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.712); 
  }
  